/*IMPORT*/
@import url('vars.css');

/*STYLE*/
footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-white);
}

a{
    color: var(--font-white);
}

a:hover{
    color: var(--primary-red);
}