/*IMPORT VARS*/
@import url('vars.css');

/*STYLE*/
section.search-field{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input#search{
    height: 40px;
    width: 40vw;
    padding: 10px;
    background-color: var(--background-grey);
    border-bottom: 1px solid var(--font-white);
    color: var(--font-white);
}

input#search::placeholder{
    color: var(--placeholder-grey);
}

input#search:focus{
    border-bottom: 1px solid var(--secundary-yellow);
}

section.search-field > button{
    height: 40px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-white);
    position: absolute;
    z-index: 1;
    left: 67%;
    cursor: pointer;
}

section.search-field > button:hover{
    color: var(--primary-red);
}

/*RESPONSIVO*/
@media screen and (max-width: 1400px){
    section.search-field > button{
        left: 67%;
    }
}

@media screen and (max-width: 1200px){
    section.search-field > button{
        left: 82%;
    }
    input#search{
        width: 70vw;
    }
}

@media screen and (max-width: 992px){
    section.search-field > button{
        left: 81%;
    }
}

@media screen and (max-width: 768px){
    section.search-field > button{
        left: 80%;
    }
}

@media screen and (max-width: 576px){
    section.search-field > button{
        left: 72%;
    }
    input#search{
        width: 60vw;
    }
}